@tailwind base;

@tailwind components;

@tailwind utilities;



    ::-webkit-scrollbar{
      width:5px;
      border-radius: 10px;        
    }
    ::-webkit-scrollbar-thumb{
        background-color:rgba(136, 134, 134, 0.301);
        border-radius: 10px;
    }

@layer components{
  .user{
    @apply flex flex-col items-end justify-end m-2 mb-4 overflow-hidden text-xs  sm:text-sm 
  }
  .receiver{
    @apply flex flex-col items-start justify-start m-2 overflow-hidden text-xs  sm:text-sm
  }
}



